@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

* {
  box-sizing: border-box;
}

/* About Start */
#about .container-fluid .row .col-4 .doli {
  width: 180px;
  height: 180px;
  margin-left: 80px;
}

#about .container-fluid .row .col-4 .doli img {
  width: 100%;
  height: 100%;
}

.navbar ul {
  margin-top: 80px;
  list-style: none;
  display: flex;

}

.navbar ul li a {
  padding-left: 25px;

  text-decoration: none;
  color: #111;
  font-weight: 1000;
  font-family: 'STIX Two Text',
    serif;
  font-size: 20px;
}

#about .container-fluid .row .col-4 {
  width: 500px;
}

#about .container-fluid .row .col-4:nth-child(2) {
  position: relative;
  left: 300px;
  width: 600px;
}

#about .container-fluid .row .col-4:last-child {
  width: 300px;
}

#about .container-fluid .row .col-4 .icon {
  padding-left: 100px;
  margin-top: 80px;
  font-weight: 500;
  font-size: 20px;
  width: 200px;
  position: relative;
  left: 50px;
}

/* About End */


/* Menu Start */
#menu .container-fluid .row .col-4 {
  margin-top: 100px;
}

#menu .container-fluid .row .col-4:first-child {
  width: 350px;
}

#menu .container-fluid .row .col-4:nth-child(2) {
  width: 1200px;

}

#menu .container-fluid .row .col-4:last-child {
  width: 350px;
}

#menu .container-fluid .row .col-4 .welcome {

  width: 300px;
  height: 350px;

}

#menu .container-fluid .row .col-4 .welcome h2 {
  transform: rotate(-90deg);
  width: 350px;
  height: 300px;
  margin-left: 5px;
  margin-top: 100px;
  font-family: 'STIX Two Text',
    serif;
  font-size: 18px;
  letter-spacing: 5px;

}

#menu .container-fluid .row .col-4 .mockup {
  margin-top: 20px;
  padding-top: 70px;
  margin-left: 2px;
  height: 400px;
}


#menu .container-fluid .row .col-4 .row .col-6 .mockup p:first-child {
  font-size: 20px;
  font-family: 'STIX Two Text',
    serif;
  padding-bottom: 0px;
  padding-top: 20px;
}

#menu .container-fluid .row .col-4 .row .col-6 .mockup p {
  font-size: 16px;
  font-family: 'STIX Two Text',
    serif;
  padding-bottom: 10px;
  padding-top: 0px;

}


#menu .container-fluid .row .col-4 .row .col-6 .mockup h1 {
  font-size: 40px;
  font-family: 'STIX Two Text',
    serif;
  margin: 20px 0;
}

#menu .container-fluid .row .col-4 .row .col-6 .mockup button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  color: white;
  width: 150px;
  height: 60px;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'STIX Two Text',
    serif;
  padding: 0px;
  transform: all 5s linear;
  position: relative;
}
#menu .container-fluid .row .col-4 .row .col-6 .mockup button div{
  position: absolute;
  left: 130px;
  font-size: 20px;
  line-height: 60px;
  opacity: 0;
  transform: all 5s linear;
}
#menu .container-fluid .row .col-4 .row .col-6 .mockup button:hover div {
opacity: 1;
}
 button p{
  padding: 0px;
  margin: 0px;
  position: absolute;
  bottom: 15px;
  left: 29px;
  
}
#menu .container-fluid .row .col-4 .row .col-6 .mockup button:hover p{
  position: absolute;
}
#menu .container-fluid .row .col-4 .row .col-6 .mockup button:hover {
  width: 180px;
  opacity: 0.8;
  

}
#menu .container-fluid .row .col-4 .row .col-6 .image {
  width: 550px;
  height: 500px;
  margin-top: 40px;
}

#menu .container-fluid .row .col-4 .row .col-6 .image img {
  width: 100%;
  height: 100%;
}

#menu .container-fluid .row .col-4 .website-icons ul {
  text-decoration: none;
  list-style: none;
  margin-top: 60px;
  width: 350px;
}

#menu .container-fluid .row .col-4 .website-icons ul li {
  padding-top: 40px;
  width: 40px;
  position: relative;
  left: 270px;
}

#menu .container-fluid .row .col-4 .website-icons ul li a {
  color: #111;
  font-family: 'STIX Two Text',
    serif;
  width: 100%;
  font-size: 20px;
}

/* Menu End */

/* Theme Start */
#theme .container .row .col-6 .picture {
  width: 500px;
  margin-top: 100px;
  padding-top: 100px;

}

#theme .container .row .col-6 .picture img {
  width: 100%;
  height: auto;
  border: none;
}

#theme .container .row .col-6 .words {
  padding: 100px 0 0 5px;
  margin-top: 100px;
  font-family: 'STIX Two Text',
    serif;
  width: 550px;
}

#theme .container .row .col-6 .words h3 {
  margin-top: 30px;
  font-size: 20px;
}

#theme .container .row .col-6 .words p {
  font-size: 16px;
}

#theme .container .row .col-12 {
  width: 600px;
  position: relative;
  left: 300px;
  margin-top: 100px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#theme .container .row .col-12 h2 {
  font-family: 'STIX Two Text',
    serif;
  width: 250px;
  font-size: 36px;
}

#theme .container .row .col-12 p {
  font-family: 'STIX Two Text',
    serif;
  width: 150px;
  font-size: 18px;
}

#theme .container .row .col-12 ul {
  display: flex;
  font-family: 'STIX Two Text',
    serif;
  padding-top: 50px;
  position: relative;
  right: 20px;
}

#theme .container .row .col-12 ul li {
  list-style-type: none;

}

#theme .container .row .col-12 ul li a {
  text-decoration: none;

  padding-left: 25px;
  color: #111;
  font-size: 20px;

}

/* THeme End */


/* Icons Start */
#icons .container .row .col-4 .html {
  width: 380px;
  height: 280px;
  margin-top: 50px;
  border: 1px solid black;
}

#icons .container .row .col-4 .html img {
  width: 100%;
  height: 100%;
}

#icons .container .row .col-4 .jss {
  width: 380px;
  height: 280px;
  margin-top: 100px;
  border: 1px solid black;
}

#icons .container .row .col-4 .jss img {
  width: 100%;
  height: 100%;
}


#icons .container .row .col-4 .python {
  width: 380px;
  height: 280px;
  margin-top: 100px;
  border: 1px solid black;
}

#icons .container .row .col-4 .bootstrap {
  width: 380px;
  height: 280px;
  margin-top: 100px;
  border: 1px solid black;
}

/* Icons End */



/* Fotter Start */
footer .container-fluid {
  margin-top: 100px;
  background: #1a1a1a;
  height: 400px;
}
footer .container-fluid .row{
  width: 1200px;
  position: relative;
}
footer .container-fluid .row .col-12 {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 457px;
}

.ending {
  width: 600px;
  height: 400px;
}

.ending .image {
  margin: 50px auto 0;
  width: 150px;
  height: 150px;

}

.ending .image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.ending ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.ending ul li {
  padding: 35px 0 0 25px;
  position: relative;
  right: 12.5px;
}

.ending ul li a {
  text-decoration: none;
  color: #b3b3b3;
  font-size: 22px;
  font-family: 'STIX Two Text',
    serif;
}

footer .ending .icons ul {

  height: 80px;
}

footer .ending .icons ul li {
  width: 75px;
  padding-top: 45px;
}

footer .ending .icons ul li a {
  background: #111;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 10px;
  border-radius: 50%;
}

footer .ending .icons ul li a i {
  font-size: 20px;
  text-align: center;
  color: white;
  margin-right: 12.5px;
}
footer .scroll {
  position: relative;
  left: 700px;
  font-size: 40px;
  
}

footer .scroll a{
  position: absolute;
  bottom: 0px;
 color:#b3b3b3;
}

html{
  scroll-behavior: smooth;
}
/* Footer End */