@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  margin: 0;
}

header {
  width: 1348px;
  padding: 0px 85px;
  height: 90px;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header .container .doli {
  width: 201.33px;
  height: 90px;
  padding: 0px 15px;
}

header .container .doli img {
  width: 100%;
  height: 100%;
  padding: 8px 0px;
}


header .container .info nav {
  width: 805.33px;
  height: 90px;
  padding: 0px 15px;

}

header .container .info nav ul {
  width: 775.33px;
  height: 90px;

  margin-top: 0px;
  padding: 0;
}


header .container .info nav ul li {
  display: inline-block;
  list-style-type: none;
}

header .container .info nav ul li a {
  text-decoration: none;
  height: 90px;
  padding: 33px 15px;
  font-size: 15px;
  font-family: 'Roboto',
    sans-serif;
  color: #111;
  font-weight: 500;
  line-height: 90px;
  font-style: normal;

}

header .container .icons {
  width: 201.33px;
  height: 90px;
  padding: 0 15px;

}

header .container .icons .iconarea {
  width: 87px;
  height: 90px;
 font-size: 0px;
align-items: center;

}

header .container .icons .iconarea a i {
  font-size: 22px;
  margin-left: 0px;
}

header .container .icons .iconarea button {
  border: none;

}

header .container .icons .iconarea button i {
  font-size: 24px;
  width: 35px;
  height: 50px;
  line-height: 90px;

}